<div class="description">
  <h3>Liste dynamique</h3>
  <p>Il s'agit d'animer les éléments d'une liste qui est mise à jour dynamiquement par un observable.</p>
  <p>Les éléments peuvent donc individuellement être ajouté ou retiré au cours du temps.</p>
  <p>La liste est affiché avec <code>*ngFor="let element of list$ | async"</code>.</p>
</div>

<div class="demo">
  <h3>Exemple</h3>
  <app-dynamic-list-demo></app-dynamic-list-demo>
</div>

<div class="core-idea">
  <h3>Principe général</h3>

  <p>
    Angular met à disposition un <em>état virtuel</em>&nbsp;: <code>void</code>.
    Cet état peut être vu comme <em>l'élément n'est pas dans le DOM.</em>
  </p>

  <p>
    Il est alors possible de créer une <code>transition</code> sur son ajout et sa suppression du DOM&nbsp;: <code>void <=> *</code>
  </p>
</div>

<div class="github-ref"></div>

<div class="code"></div>
